## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/

## Build results
[Dd]ebug/
[Rr]elease/

## NuGet
*.nupkg
**/packages/*

## IDE
.idea/
*.swp

## OS
Thumbs.db
.DS_Store

## Secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json
